.search-input {
  margin: 2em; }

.card-course-item {
  margin: 10px 50px; }

.btn {
  margin: 10px 10px; }

.row {
  align-items: center;
  align-content: center;
  display: flex; }

.container {
  display: flex; }
